$primery-color-1: #48cae4;
$primery-color-2: #a7f0ff;
$primery-color-3: #f68f8f;
$primery-color-4: #0096b4;
$primery-color-5: #80b918;
$primery-color-6: #707070;
$font-stack: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
